apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: remote-test-runner-cm
    release: {{ .Release.Name }}
  name: remote-test-runner-cm
data:
  test-env.json: |
    {{ .Values.remote_test_runner.config_file_contents }}
  init.sh: |
    #!/bin/sh

    echo "Installing dependencies"
    apk add build-base

    echo "Waiting for $TEST_FILE to start being copied"
    until [ -f $TEST_FILE ]
    do
      sleep 1
    done
    echo "Found $TEST_FILE"

    CURRENT_FILE_SIZE=$(stat -c%s "$TEST_FILE")
    until [ "$CURRENT_FILE_SIZE" -eq "$TEST_FILE_SIZE" ]
    do
      CURRENT_FILE_SIZE=$(stat -c%s "$TEST_FILE")
      echo "Copied $CURRENT_FILE_SIZE/$TEST_FILE_SIZE bytes"
      sleep 1
    done

    chmod +x $TEST_FILE
    echo "File details"
    stat $TEST_FILE
    echo "-----------"
    file $TEST_FILE
    echo "-----------"
    ldd $TEST_FILE
    echo "-----------"

    echo "Copied $TEST_FILE Successfully! Running test..."
    $TEST_FILE --ginkgo.timeout=0 --ginkgo.v --ginkgo.focus {{ .Values.remote_test_runner.test_name }}
